add table inet lab_isolation
delete table inet lab_isolation
add table inet lab_isolation

table inet lab_isolation {

    chain forward {
        type filter hook forward priority filter; policy accept;

        ct state established,related accept

        ct state invalid drop

        iifname "lab-students" \
            ip saddr {{ guacd_students_ip }} \
            tcp dport 22 \
            ct state new accept

        iifname "lab-students" oifname "lab-students" drop
    }
}

